@font-face {
  font-family: "Breaking Bad";
  src: url("../assets/fonts/heart_breaking_bad-webfont.woff2") format("woff2"),
    url("../assets/fonts/heart_breaking_bad-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
