.structures {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.caffeine,
.meth,
.lcd {
  position: absolute;
}

.caffeine {
  top: 20%;
  right: 5%;
  width: 200px;
  opacity: 0.3;
}
.meth {
  bottom: 10%;
  left: 5%;
  width: 200px;
  opacity: 0.7;
}
.lcd {
  bottom: 20%;
  right: 30%;
  width: 300px;
  opacity: 0.5;
}
